html {
  border: 50px solid black;
  min-height: 1000px;
}

p {
  margin: 0px
}

.container {
  padding: 50px;
}

.leftpanel{
}

.projects {
  margin-left: -25px;
}

#profilepic {
  height: 300px;
  padding: 50px;
  margin-left: -100px;
}

#gitname {
  font-size: 22px;
  font-weight: bold
}

#gituser {
  font-size: 20px;
  font-weight: lighter
}
